{% extends 'base.html.twig' %}

{% block body %}
<h1 class="text-center mt-4">Support Client</h1>
<h3 class="text-center">Bienvenue</h3>
<div class="text-center p-5">
    <img src="https://photo.kidzworld.com/images/2010721/b5fb6795-27c1-4356-950c-59da6a8c5f86/gallery_AlexandraDaddario-Gallery.jpg" alt="">
</div>
{% endblock %}
