{% extends 'base.html.twig' %}

{% block body %}
<div id="senturl">

<div class="container pb-2" >
    <h2 class="text-center mt-5">Modifier votre mot de passe</h2>
    <div class="row justify-content-center">
        <div class="col-md-5 mt-4">
            <div id="registerform">
                {% for message in app.flashes('danger') %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
                {% endfor %}
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
                <form action="{{ path('sendrandurl') }}" method="post">
                <div class="form-group">
                    <label for="email">Votre email</label>
                    <input type="email" class="form-control" id="email" name="email">
                </div>
                <button type="submit" class="btn btn-primary btn-block mt-4">Envoyer</button>
                <form>
            </div>
        </div>
    </div>
</div>

</div>
{% endblock %}
